/* Write your code here */
.announcement {
    position: relative;
    border: 3px solid pink;
    background-color: #ffe5e5;
    padding: 2em;
}

.announcement.hidden p{
    display: none;
}

.announcement button {
    position: absolute;
    top: 0;
    right: 0;
    border: 1px solid black;
    background-color: whitesmoke;
    color: black;
    font-weight: bold;
    cursor: pointer;
}

.announcement button::before{
    content: 'X';
}


.announcement.hidden button::before {
    content: "Show announcement";
}
